html, body {
    background-color: #E6D5B8;
    margin: 0;
    height: 100%; 
    width: 100%;
}

nav {
    height: 10%;
    background-color: #E45826;
    position: sticky;
}

.navbar {   
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar li {
    margin-left: 2rem;
}

.navbar li:last-of-type {
    margin-left: auto;
    margin-right: 2rem;
}


.textlogo {
    height: 20%;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    align-self: center;
}

.main {
    font-family: 'Open Sans', sans-serif;
    background-color: #F0A500;
    position: fixed;
    margin: 0 10%;
    bottom: 0px;
    border-radius: 25px 25px 0 0;
    width: 80%;
    height: 70%;
    display: inline-block;
    
    overflow-y: scroll;
    -ms-overflow-style: none;  /*Ascund scrollbarul din IE and Edge */
     scrollbar-width: none; /*Aici ascund scrollbarul din Firefox */
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
}

.main::-webkit-scrollbar {
    display: none;  /* Iar aici ascund scrollbarul din Chrome, Safari si Opera */
}

.main > div {
    background-color: white;
    width: 75%;
    padding: 16px;
    margin: 32px auto;
}

.main > div:first-of-type {
    width: 85%;
}

.main > div:last-of-type {
    margin-bottom: 32px;
}

main .com {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.com div {
    align-self: center;
    width: 50%;
}

.com div:last-of-type {
    display: flex;
    flex-direction: row-reverse;
}

textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    font-size: 20px;
    padding: 20px;
}

.imgcom {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
}

.imgcom img {
    align-self: center;
}

.imgcom p {
    margin: 0;
}

.butjos {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.butjos p {
    margin-right:auto;
}

.butjos a {
    text-decoration: none;
    color: #1B1A17;
    align-self: center;
}

.butjos div:last-of-type {
    padding-left: 16px;
}

.butoane {
    display: flex;
    align-content: center;
}

.comsus {
    display: flex;
    padding-bottom: 16px;
}

.comsus div:last-child {
    width: 100%;
}

.maincom {
    height: 70%;
}